@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  max-width: 1024px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.2px;
  background-color: #e6e1d8;
  margin: auto;
}

hr {
  margin: 2rem auto;
}

.icon_default {
  color: #339af0;
}

#main-area {
  grid-area: main;
}

#section-area_top {
  grid-area: section_top;
}

#section-area_bot {
  grid-area: section_bot;
}

#aside-area {
  grid-area: aside;
}

#footer-area {
  grid-area: footer;
}

.hover:hover {
  cursor: pointer;
  opacity: 0.5;
}

#main-area {
  display: -ms-grid;
  display: grid;
  grid-template:
    "aside section_top" auto
    "aside section_bot" auto
    "footer footer" 10vh
    / 30% auto;
  gap: 10px;
}

#aside-area {
  background-color: #faf9f7;
  width: 100%;
}

#aside-area .photo {
  height: 200px;
  width: 100%;
  background-image: url(/img/Profile_photo_about2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#aside-area .photo label {
  position: relative;
  top: 70%;
  left: 15%;
  font-weight: 500;
  color: #faf9f7;
}

#aside-area .personal-info {
  margin-top: 1.5rem;
}

#aside-area .personal-info li i {
  padding: 0.5rem 1rem;
}

#aside-area .personal_social {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

#aside-area .personal_social i {
  padding: 1rem;
}

#aside-area .skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: bold;
}

#aside-area .skills .fab {
  padding-right: 1rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#aside-area .skills .js i {
  color: #efd81d;
}

#aside-area .skills .js input {
  border: none;
  border-radius: 5px;
}

#aside-area .skills .js input::-webkit-input-placeholder {
  background-color: #efd81d;
  font-weight: bold;
  color: #333;
  position: relative;
  right: 1%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .js input:-ms-input-placeholder {
  background-color: #efd81d;
  font-weight: bold;
  color: #333;
  position: relative;
  right: 1%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .js input::-ms-input-placeholder {
  background-color: #efd81d;
  font-weight: bold;
  color: #333;
  position: relative;
  right: 1%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .js input::placeholder {
  background-color: #efd81d;
  font-weight: bold;
  color: #333;
  position: relative;
  right: 1%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .react i {
  color: #00d8ff;
}

#aside-area .skills .react input {
  border: none;
  border-radius: 5px;
}

#aside-area .skills .react input::-webkit-input-placeholder {
  background-color: #00d8ff;
  font-weight: bold;
  color: #333;
  position: relative;
  right: 30%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .react input:-ms-input-placeholder {
  background-color: #00d8ff;
  font-weight: bold;
  color: #333;
  position: relative;
  right: 30%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .react input::-ms-input-placeholder {
  background-color: #00d8ff;
  font-weight: bold;
  color: #333;
  position: relative;
  right: 30%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .react input::placeholder {
  background-color: #00d8ff;
  font-weight: bold;
  color: #333;
  position: relative;
  right: 30%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .vue i {
  color: #3fb37f;
}

#aside-area .skills .vue input {
  border: none;
  border-radius: 5px;
}

#aside-area .skills .vue input::-webkit-input-placeholder {
  background-color: #3fb37f;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 30%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .vue input:-ms-input-placeholder {
  background-color: #3fb37f;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 30%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .vue input::-ms-input-placeholder {
  background-color: #3fb37f;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 30%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .vue input::placeholder {
  background-color: #3fb37f;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 30%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .angular i {
  color: #dd0330;
}

#aside-area .skills .angular input {
  border: none;
  border-radius: 5px;
}

#aside-area .skills .angular input::-webkit-input-placeholder {
  background-color: #dd0330;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 80%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .angular input:-ms-input-placeholder {
  background-color: #dd0330;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 80%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .angular input::-ms-input-placeholder {
  background-color: #dd0330;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 80%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .skills .angular input::placeholder {
  background-color: #dd0330;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 80%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .languages .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: bold;
}

#aside-area .languages .fas {
  padding-right: 1rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#aside-area .languages .en input {
  border: none;
  border-radius: 5px;
}

#aside-area .languages .en input::-webkit-input-placeholder {
  background-color: #11a2b2;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 20%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .languages .en input:-ms-input-placeholder {
  background-color: #11a2b2;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 20%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .languages .en input::-ms-input-placeholder {
  background-color: #11a2b2;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 20%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .languages .en input::placeholder {
  background-color: #11a2b2;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 20%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .languages .tag input {
  border: none;
  border-radius: 5px;
}

#aside-area .languages .tag input::-webkit-input-placeholder {
  background-color: #22aa44;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 1%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .languages .tag input:-ms-input-placeholder {
  background-color: #22aa44;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 1%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .languages .tag input::-ms-input-placeholder {
  background-color: #22aa44;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 1%;
  text-align: right;
  padding-right: 0.2rem;
}

#aside-area .languages .tag input::placeholder {
  background-color: #22aa44;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 1%;
  text-align: right;
  padding-right: 0.2rem;
}
